.react-tags__search-input {
	width: 20vmin !important;
	height: 5vmin !important;
<<<<<<< HEAD
=======
	margin-left: 6vmin;
>>>>>>> 8cb41e31df5a93c2f500ab51a705cedc776de16d
}

.react-tags {
	margin-left: 5vmin;
	width: 20vmin !important;
}

.usageText {
	font-family: "Roboto Slab", serif;
	color: #183d70;
}

.pop-up {
	position: relative;
}
